{% extends "layout/base.html" %}
{% block content %}
<center>
    <div id="lab8" >
        <script type="in/Login"></script>
    </div></center>
	<div id="profileData">
		<div id="name"></div>
		<div id="gambar"></div>
		<div id="tempat"></div>
	</div>
	<div id="logout">
<div class="panel panel-default" id=watch-later-{{movie.imdbid}}>
  <div class="panel-heading">
    <h3> LOWONGAN<h3>
  </div>
  <div class="panel-body">
    {% for a in forum %}
    <img class="img-circle" style="width:100px;height;100px"src='https://lh3.googleusercontent.com/-2WZh52QeErI/VmARDjn4d1I/AAAAAAAAAEQ/mDSvah2aOOE/w530-h476-n/Anjing-Lucu-2.jpg' style='height:50%;float: left;margin:2%' class='img-responsive img-thumbnail' id='gambar'/><br>
	<h4> Nama Perusahaan</h4>
	<h5> membuka lowongan kerja untuk : {{a.lowongan}} </h5>
	<h6> {{a.created_date}} </h6>
	{% endfor %}
</div>
  <div class="panel-footer">
</div>
</div>
	
	
	</div>
{% endblock %}

{% block javascript %}
<script>// Setup an event listener to make an API call once auth is complete
function onLinkedInLoad() {
    IN.Event.on(IN, "auth", getProfileData);
}

// Use the API call wrapper to request the member's profile data
function getProfileData() {
    IN.API.Profile("me").fields("id", "first-name", "last-name", "headline", "location", "picture-url", "public-profile-url", 
"email-address").result(displayProfileData).error(onError);

}

// Handle the successful return from the API call
function displayProfileData(data){
    var user = data.values[0];
	var id = user.id;
	console.log(id);
	$.ajax({
		method: "POST",
		url: '{% url "fitur-login:add-session" %}',
		data: { name: user.firstName+" "+user.lastName, id: id, csrfmiddlewaretoken: '{{ csrf_token }}'},
		success : function () {
		},
		error : function (error) {
          alert("Mahasiswa tersebut sudah ditambahkan sebagai teman")
		}
	});

    $("#name").append(user.firstName+' '+user.lastName+' '+user.headline );
	$("#gambar").append('<img src="'+user.pictureUrl+'">');
	$("#tempat").append(user.location.name);
	$("#logout").append("<button onClick='logout()'>Logout</button>");
	console.log(data);
	console.log();
	var url = "/companies?format=json&is-company-admin=true/";
	IN.API.Raw(url)
	.method("GET")
	.result(displayCompanyData)
	.error(onError);
}
function displayCompanyData(data){
    // To do
	console.log("jalan");
	cpnyID = data.values[0].id;
	IN.API.Raw("/companies/"+ cpnyID+":(id,name,ticker,description)?format=json")
	.method("GET")
	.result(print)
	.error(onError);
	console.log(data);
	    var user = data.values[0];

	  var id = user.id;
  console.log(id);
	console.log(user.name);
  $.ajax({
      method: "POST",
      url: '{% url "fitur-login:add-company" %}',
      data: { name: user.name, id: user.id, csrfmiddlewaretoken: '{{ csrf_token }}'},
      success : function () {
      },
      error : function (error) {
          alert("Mahasiswa tersebut sudah ditambahkan sebagai teman")
      }
  });

	
}
function print(data){
	console.log(data);
}

// Handle an error response from the API call
function onError(error) {
    console.log(error);
}

// Destroy the session of linkedin
function logout(){
    IN.User.logout(removeProfileData);
}

// Remove profile data from page
function removeProfileData(){
	window.location.assign("{% url 'fitur-login:index'%}")
}
</script>
{% endblock %}