<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="TUGAS 2">
    <meta name="author" content="{{author}}">

    <!-- Bootstrap CSS -->
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">
    <!-- JQuery dataTables CSS -->
    <link href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css" rel="stylesheet">
<script type="text/javascript" src="//platform.linkedin.com/in.js">
    api_key: 81ilzph0rmtmjl	
    authorize: true
    onLoad: getID
</script>
    <style>
        
    </style>
    <title>
        {% block title %} Profil Perusahaan {% endblock %}
    </title>
</head>
<body>
    <header>
        
    </header>
    <content>
        <div class="container">
			<div id='profil-perusahaan' style="margin-top: 5%"> 	
				<div class="container" style="align-content: center;">
				<section style="height: auto;">
				    <header class="masthead">
				      <div class="overlay">
				        <div class="container">
				          <h1 class="display-1 text-white">WELCOME</h1>
				          <h2 class="display-4 text-white" id="companyName"><center> <!--TODO--> <center></h2>
				            <br>
				            <p align = "center">
				            <img src=http://cliparting.com/wp-content/uploads/2016/11/Small-office-building-clipart-kid.jpg widht="200" height="200" align = "center">
				          </p>
				          <br>
				          <a href="{% url 'forum:index' %}" class="head-button"><center>Lihat Forum</center></a>
				          <a href="#" class="head-button"><center>            Cari Mahasiswa<center></a>
				        </div>
				      </div>
				    </header>

				    <div class="container" style="margin-top: 4%;" id="about-company-section">
				      <div class="row">
				        <div class="col-lg-11 col-md-11 col-sm-11 col-11 mx-auto">
				          <h2 id="title-about">About Company:</h2>
				          <div id="about"></div>
				          <br>
				          <div class="row">
				            <div class="col-lg-6 col-md-4 col-sm-4 col-4" id="judul-about">
				              <h5 id="about-company">Tipe Perusahaan</h5>
				              <h5 id="about-company">Web Perusahaan</h5>
				              <h5 id="about-company">Spesialitas</h5>
				            </div>
				            <div class="col-lg-6 col-md-8 col-sm-4 col-8">
				              <h5 id="companyType"> <!--TODO--> </h5>
				              <h5 id="companyWeb"> <!--TODO--> </h5>
				              <h5 id="companySpecialty"> <!--TODO--> </h5>
				            </div>
				          </div>
				        </div>
				      </div>
				    </div>
				  </section>
					</div>
			</div>

			<button class='btn btn-danger' onClick='logout()'>Logout</button>


        </div>
    </content>
    <footer>
        
    </footer>

    <!-- Jquery n Bootstrap Script -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script type="application/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <!-- JQuery dataTables Script -->
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
</body>
</html>




{% block javascript %}
<script type="text/javascript">
	
function getID(result){
	IN.API.Raw("companies?format=json&is-company-admin=true")
		.method("GET")
		.result(function(result){
			var id = result.values[0].id;
			console.log(id);
			getData(id);
		})
		.error(function(result){alert("haha");
		});	
}

function getData(result){
	IN.API.Raw("companies/"+result+":(company-type,website-url,specialties,name,ticker,description)?format=json")
		.method("GET")
		.result(function(result){
			  $("#companyName").append(result.name );
			  $("#companyType").append(result.companyType.name );
			  $("#companyWeb").append(result.websiteUrl);
			  var spesiality = "";
			  for (var i = 0; i < result.specialties.values.length ; i++) {
			  	console.log(result.specialties.values[i]);
			  	spesiality += result.specialties.values[i]+","
			  }
			  var res = spesiality.substring(0,spesiality.length-1);
			  $("#companySpecialty").append(res);
			  // $("#companyName").append(result.name );
			  // $("#companyName").append(result.name );
			  // $("#companyName").append(result.name );
		});


}



function logout(){
    IN.User.logout(logoutYuk);
}
// Remove profile data from page
function logoutYuk(){
	window.location.assign("{% url 'fitur-login:index'%}")
  $.ajax({
      method: "GET",
      url: '{% url "fitur-login:remove-session" %}',

});
}

</script>
{% endblock %}
