{% load staticfiles %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="Login">
    <meta name="author" content="{{author}}">
    <!-- bootstrap csss -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/b1_utama.css' %}" />
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script type="application/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <title> Login</title>
</head>
<body>
    <header>
        {% include "b1_utama/partials/header.html" %}
    </header>
    <content>
            {% block content %}
                <!-- content goes here -->
            {% endblock %}
    </content>

    <!-- Jquery n Bootstrap Script -->
    <!-- <script src="{% static 'js/lab8.js' %}"></script> -->

    <!-- Script -->
    <script type="text/javascript" src="//platform.linkedin.com/in.js">
    api_key:   81kze45gb69r8f
    onLoad:    onLinkedInLoad
    authorize: true
    </script>
    <script src="{% static 'js/b1_utama.js' %}"></script>

</body>
</html>
