{% extends "layout/base.html" %} 
{% load staticfiles%} 

{% block style %}
<link href="https://fonts.googleapis.com/css?family=Dosis" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="{% static 'css/fitur_forum.css' %}">
{% endblock %}


{% block content %}
<section>
    <h2 class="forum-list-title"> Forum Lowongan Kerja</h2>
    <div class="container">
            {% if Forum %}
                {% for forum in Forum %}
                <div id = "forum post">
                    <h1> {{ forum.lowongan }}</h1>
                        <a style= "float: right;" id = "response" class= "btn btn-danger" href="#" onclick="test('{{ forum.id }}')"> Response</a>
                    <h5> {{ forum.created_date}}</h5>
                    <div id = "comments"></div>
                </div>
                {% endfor %}
            {% else %}
            <div class="alert alert-danger text-center">
                <strong>Maaf!</strong> Tidak ada forum
            </div>
            {% endif %}
        </div>


<div class="pagination">
    <span class="step-links">
        {% if Forum.has_previous %}
            <a href="?page={{ Forum.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ Forum.number }} of {{ Forum.paginator.num_pages }}.
        </span>

        {% if Forum.has_next %}
            <a href="?page={{ Forum.next_page_number }}">next</a>
        {% endif %}
    </span>
</div>
</section>

    <div id="myDiv">
    <input id="new_forum" class="btn btn-lg btn-block btn-info" value="Tambah Forum Lowongan" onclick="show()">
    </div>

    <div id="form" style="display:none" class="container">
      <form id="form" method="POST" action="{% url 'forum:add_forum' %}">
          <h2>Tambah Forum Lowongan Kerja</h2>
          {% csrf_token %}
          {{ Forum_Lowongan }}
          <input id="submit" type="submit" class="btn btn-lg btn-block btn-info" value="Submit" onclick="add()">
          <br>
      </form>
    </div>
    
    
    {% block javascript%}
    <script>
    function show(){

        var x = document.getElementById("form");
        
        if(x.style.display === "none"){
        x.style.display = "block";
        }else{
          x.style.display = "none";
        }
        $('#new_forum').hide();

        }

    function add(){
        var x = document.getElementById("form");
        
        if(x.style.display === "none"){
        x.style.display = "block";
        }else{
          x.style.display = "none";
        }
        $('#new_forum').show();
    }

    function test(id) {
        $("#comments").append("ntar disini form dengan ID " + id);
        $('#response').remove();
    }
    </script>
    {% endblock %}
    {% endblock %}
    